# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
.env

# Byte-compiled / optimized / DLL files
*.so

# Distribution / packaging
build/
dist/
*.egg-info/

# VSCode
.vscode/

# macOS
.DS_Store

# Edge Impulse model files
*.eim

# Arduino build artifacts
*.hex
*.elf
